*{
  box-sizing:border-box;
  font-family: Imprima, sans-serif;
}

.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section.search{
display: block;
}

section.content{
  width: 1145px;

}

.searchbar{
  /* display: inline-block; */
  /* float: left; */
  margin-left: 25%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  width: 550px;



}

form {
  background-color: white;
  display: flex;
  padding: 6px;
  height: 66px;

}


html, body{
  background-color: #FCF6E8;
}

input {
  width: 80%; 
  height: 70%;
  margin: auto 2%;
  border-radius: 8px; 
  padding: 12px;
  display: inline-block;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}


.icon{
  margin: 12px;
}

.sidebar{
margin-top: 3%;
background-color: white;
width: 20%;
height: 540px;
padding: 10px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
display: inline-block;
float: left;
}

.filter{
  list-style-type: none;
}

button{
  border-radius: 7px;
  background-color:white;
  height: 30px;
  width: 140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  display: block;
}

button:hover{
  background-color:#343434;
  color: white;
}

.category{
  font-size: 18px;
  margin-top: 20px;
}

.Items{
  list-style-type: none;

}

.card{
  background-color: white;
  display: inline-block;
  border-radius: 15px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);

  width: 25%;
  padding: 20px;
  margin: 30px 10px;

}

.card:hover{
transform: translateY(-5px);
}



.article{
  width: 835px;
  height: 832px;
  padding: 50px;
  background-color: white;
  color: #343434;
  text-align: left;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  float: left;
  margin-top: 3%;
  margin-left: 5%;
}

body{
  min-height: 100%
}

a {
  text-decoration: none;
}

section.footer-area{
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  position:inherit; 
  bottom: 0;
  left: 0;
}

.footer{
  color: white;
  background-color: #dc5865;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0; 
  width: 100%; 
  font-size: 12px;
}

.footer-above{
  display: flex;
  flex-direction:row;
  direction: ltr;
  position: relative;
  margin-top: 0.2rem; 
  font-size: 12px;
  justify-content: space-between;
  margin-left: 20px; 
  margin-right: 20px;
}

a.social {
  margin-left: 10px;
  transition: transform 500ms;
  color: white;
}

.footer-below{
  display: flex;
  flex-direction:row;
  position: relative;
  margin-top: 0.2rem; 
  font-size: 12px;
  justify-content: space-between;
  margin-left: 20px; 
  margin-right: 20px;
  
}

.footer-below-links {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
}

.footer-below-links p{
  color: white;
  position: relative;
  justify-content: space-between;
  direction: rtl;
  margin-left: 10px;
}

hr{
  color: rgb(255, 255, 255) !important;   
  width: 95%; 
  margin-left:auto; 
  margin-right:auto;
  position:static;
}

.navigation{
  background-color: #b7da93;
  position: sticky;
  top: 0;
}

.nav-links{
  display: flex;
  flex-direction:row;
  direction: rtl;
  position: static; 
  justify-content: space-between;
  margin-left: 75%;
  margin-right: 20px;
}

.nav-links p{
  color: white;
  position: relative;
  justify-content: space-between;
  direction: rtl;
  margin-left: 10px;
}
