.footer{
    color: white;
    background-color: #dc5865;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative; 
    bottom: 0; 
    width: 100%; 
    font-size: 12px;
}

.footer-above{
    display: flex;
    flex-direction:row;
    direction: ltr;
    position: relative;
    margin-top: 0.2rem; 
    font-size: 12px;
    justify-content: space-between;
    margin-left: 20px; 
    margin-right: 20px;
}

a.social {
    margin-left: 10px;
    transition: transform 250ms;
    color: white;
}

a.social:hover {
    transform: translateY(-2px);
  }

.footer-below{
    display: flex;
    flex-direction:row;
    direction: ltr;
    position: relative;
    margin-top: 0.2rem; 
    font-size: 12px;
    justify-content: space-between;
    margin-left: 20px; 
    margin-right: 20px;
}

.footer-below-links{
    display: flex; 
    flex-direction: row;
}

.footer-below-links p{
    font-size: 12px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
}

hr{
    color: rgb(255, 255, 255) !important;   
    width: 95%; 
    margin-left:auto; 
    margin-right:auto;
    position:static;
}

.footer-copyright p{
    font-size: 12px;
    line-height: 15px;
    color: white;
}

@media screen and (max-width: 550px){
    .footer_below{
        flex-direction: row;
        justify-content: left;
    }

    .footer-below-links{
        flex-direction: row;
    }

    .footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
    
}